#navbar-div{
    display: flex;
    justify-content: space-between;
    height: 60px;
    font-size: 17px;
}
#logo{
    width: 150px;
    margin-top: 10px;
    margin-left: -10px;
}
#div-2 p{
    margin-top: 2px;
}
#div-3{
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
    width: 35vw;
    border-radius: 5px;
}
#div-3 input{
    border:none;
    margin-top: 11px;
    margin-left: 5px;
    width: 30vw;
    height: 60%;
}
ion-icon{
    margin-top: 20px;
    margin-left: 5px;
}
#div-4 p{
    margin-top: 19px;
}
#div-5{
    display: flex;
    background-color: #0C831F;
    color: white;
    border-radius: 10px;
    padding: 0 1vw;
}
#div-5 p{
    margin: 19px 5px 0 5px;
}